p {
    background-color: aquamarine;
    border: 5px solid burlywood;
    font-size: 22px;
    padding: 12px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
}