div {
    margin: 10px;
    font-size: 18px;
    padding: 12px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

p {
    font-size: 18px;
    padding: 12px;
}

h2 {
    font-size: 20px;
    margin:0;
}

#lol {
    background-color: aquamarine;
    border: 5px solid burlywood;
}
#rofl {
    background-color: thistle;
    border: 5px solid gold;
}

#sonOfRofl {
    display:none;
}

#sonOfRofl p {
    background-color: salmon;
    border: 5px solid mediumseagreen;
}

#memory {
    display:none;
}

#memory p {
    border: 5px solid black;
    border-radius: 60px 60px 0 0;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
}